.result-block button {
  width: 10vw;
}

.DiceBlock {
  font-size: inherit;
}

.DiceBlock .num-of-dice {
  text-align: right;
}

.DiceBlock .die-type{
  text-align: left;
}

.DiceBlock .inc-dec-control button {
  width: 45%;
  margin: 2%;
}

.Result#result-box textarea {
  width: 90%;
  height: inherit;
  text-align: center;
  font-size: inherit;
}