.DiceBlock {
    font-size: inherit;
    color: white;
}

.DiceBlock .num-of-dice {
    text-align: right;
}

.DiceBlock .die-type{
    text-align: left;
}

.DiceBlock .inc-dec-control button {
    font-weight: bold;
    background-color: white;
    width: 45%;
    margin: 2%;
}