.DiceBlock {
    font-size: 2vmin;
}

.DiceBlock .col {
    align-self: center;
}

.DiceBlock .num-of-dice {
    text-align: right;
}

.DiceBlock .inc-dec-control {
    text-align: left;
}

.DiceBlock .inc-dec-control input {
    width: 30%;
    margin: 2%;
}

.Die input {
    width: 80%;
    margin: 2%;
}